.loginAllScreen {
  width: 100%;
  min-height: 100vh;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  .mainScreen {
    width: 80%;
    height: 85vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
    .login {
      width: 50%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      header {
        height: 22px;
      }
      section {
        margin-top: 30px;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        input {
          font-size: 16px;
          width: 60%;
          height: 50px;
          padding-left: 10px;
        }
        button {
          width: 60%;
          height: 50px;
          font-size: 16 ㄱpx;
          font-weight: 900;
        }
      }

      div {
        display: flex;
        p {
          margin-right: 10px;
        }
      }
    }
  }
}
